<!DOCTYPE html>
<html lang="en" style="font-size: 13px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Catalogger</title>
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="assets/img/block.svg">
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="assets/img/block.svg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Roboto.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-With-Button-icons.css">
</head>

<body style="font-family: Roboto, sans-serif;">
    <div class="modal fade" role="dialog" tabindex="-1" id="image_upload_modal" name="image_upload_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title"><img src="assets/img/pictures.svg" style="width: 40px;height: 40px;min-width: 27px;margin-right: 17px;">Select Icons for your Apps</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <p>Choose custom images from your local machine for your application. You may upload multiple files at the same time.<br><br>The image must be in the "svg" format. Use the "Find Vector Graphics" link on the navbar to find and download suitable graphics.<br><br>You may choose leave this option blank to use a default graphic instead.</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col"><input class="form-control" type="file" id="file" name="file" accept=".svg" multiple=""></div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-success" type="submit" data-bs-target="/upload">Upload Image</button></div>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3" style="height: 69.125px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><img src="assets/img/block.svg"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <h4 class="text-start" style="color: var(--bs-navbar-brand-color);">Custom Catalogue Builder</h4>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="https://docs.d2iq.com" target="_blank">D2IQ Docs</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.svgrepo.com/" target="_blank">Find Vector Graphics</a></li>
                    <li class="nav-item">
                        <form action="/reset" method="get"><button class="btn btn-danger float-end" type="submit" data-bs-target="/reset" style="margin-left: 16px;">Reset Session</button></form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 31px 9.75px 43px;padding-bottom: 23px;padding-top: 35px;">
        <div class="row">
            <div class="col-3 float-start">
                <div class="card" style="height: 250px;">
                    <div class="card-header"><img class="float-start me-2" src="assets/img/github.svg" width="27px">
                        <h5 class="float-start mb-0" style="font-size: 20px;">Connect to Github</h5><i class="fas fa-check fs-4 {{ connected }} float-end"></i>
                    </div>
                    <div class="card-body">
                        <form id="github_form" method="post" name="github" action="/github">
                            <div class="row align-items-center">
                                <div class="col" style="width: 162px;"><label class="col-form-label" style="font-size: 15px;font-family: Roboto, sans-serif;">Github Username:</label></div>
                                <div class="col"><input id="gh_username" class="form-control form-control-sm" type="text" style="margin-top: 13px;margin-bottom: 13px;width: 135px; font-size: 15px" name="gh_username" {{ state }} /></div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col" style="width: 162px;font-size: 14px;"><label class="col-form-label" style="font-size: 15px;">Token:</label></div>
                                <div class="col"><input id="gh_token" class="form-control form-control-sm" type="password" style="width: 135px; font-size: 15px;" name="gh_token" {{ state }} /></div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col" style="width: 162px;"><label class="col-form-label" style="font-size: 15px;">Repo Name:</label></div>
                                <div class="col"><input id="gh_repo" class="form-control form-control-sm" type="text" style="margin-top: 13px; font-size: 15px; margin-bottom: 13px;width: 135px;" name="gh_repo" {{ state }} /></div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-8"><p class="{{gh_status_colour}}" style="font-style: margin-top: 13px;font-size: 14px; margin-top: 12px;">{{gh_status_message}}</p></div>
                                <div class="col-4"><button class="btn btn-success btn-sm float-end" type="submit" {{ state }} id="github" style="width: 90px;margin-left: 0px;">Connect</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="height: 250px;">
                    <div class="card-header"><img class="float-start me-2" width="27px" src="assets/img/artifacthub.svg">
                        <h1 class="mb-0" style="font-size: 20px;">Search for Helm Charts</h1>
                    </div>
                    <div class="card-body">
                        <form id="helm" method="post" action="/helmsearch">
                            <div class="row align-items-center">
                                <div class="col"><label class="col-form-label" style="font-size: 15px;">Search Term:</label></div>
                                <div class="col"><input class="form-control form-control-sm" type="text" name="search_term" required="" minlength="3" style="width: 150px;font-size: 15px;"></div>
                            </div>
                            <div class="row align-items-center" style="margin-top: 8px;">
                                <div class="col-8"><label class="col-form-label" style="font-size: 15px;">Official Repos Only ?</label></div>
                                <div class="col" style="width: 150px;"><input type="checkbox" name="search_official" value="true"></div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-8"><label class="col-form-label" style="font-size: 15px;">Show Deprecated ?</label></div>
                                <div class="col" style="width: 150px;"><input type="checkbox" name="search_deprecated" value="true"></div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-8"><label class="col-form-label" style="font-size: 15px;">Only Operators ?</label></div>
                                <div class="col" style="width: 150px;"><input type="checkbox" name="search_operators" value="true"></div>
                            </div>
                            <div class="row align-items-center" style="margin-top: -4px;">
                                <div class="col" style="margin-top: 4px;">
                                    <div class="row">
                                        <div class="col" style="margin-top: 10px;"><i class="far fa-star text-light"></i><button class="btn btn-success btn-sm float-end" type="submit" style="width: 90px;">Find Charts</button></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <form action="/build_bundle" method="get">
                    <div class="row">
                        <div class="col-6">
                            <div class="card" style="height: 250px;">
                                <div class="card-header"><img class="float-start me-2" src="assets/img/catalogue.svg" width="27px">
                                    <h5 class="float-start mb-0" style="font-size: 20px;">Catalogue Settings</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row align-items-center" style="margin-top: -12px;">
                                        <div class="col" style="width: 162px;"><label class="col-form-label" style="font-size: 15px;">Category Name:</label></div>
                                        <div class="col"><input class="form-control form-control-sm cat_category" type="text" id="cat_category" style="margin-top: 13px;margin-bottom: 13px;width: 150px;font-size: 15px;" name="cat_category" value="My Applications"></div>
                                    </div>
                                    <div class="row align-items-center" style="margin-top: -4px;">
                                        <div class="col"><label class="col-form-label" style="font-size: 15px;">Scope:</label></div>
                                        <div class="col"><select class="form-select form-select-sm" id="cat_scope" style="width: 150px;font-size: 15px;" name="cat_scope">
                                                <option value="13">Workspace</option>
                                                <option value="14">Project</option>
                                            </select></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><label class="col-form-label" style="font-size: 15px;">Uploaded Icons:</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-end" style="height: 42.5px;">{{ image_gallery|safe }}</div>
                                    </div><button class="btn btn-success btn-sm float-end" type="button" style="width: 90px;" data-bs-target="#image_upload_modal" data-bs-toggle="modal">Upload</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card" style="height: 250px;">
                                <div class="card-header"><img class="float-start me-2" width="27px" src="assets/img/bundle.svg" alt="bundle">
                                    <h1 class="mb-0" style="font-size: 20px;">Bundle</h1>
                                </div>
                                <div class="card-body"><div name=bundle_text style="font-size: 15px;">{{ bundle_short | safe}}</div>
                                    <div class="row fixed-bottom" style="position: absolute;overflow: hidden;">
                                        <div class="col-12 text-end"><button class="btn btn-success btn-sm  {{ build_enabled }}" type="submit" style="margin-bottom: 14px;margin-right: 16px;width: 90px;" data-bs-target="/build_bundle" name="build_button">Build Bundle</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" id="search_results" style="padding-bottom: 75px;">
        <form id="bundle" action="/addbundle" method="post">
            <div class="card">
                <div class="card-header"><img class="float-start me-2" src="assets/img/helm.svg" width="27px">
                    <h5 class="float-start mb-0" style="font-size: 20px;">Search Results</h5><button class="btn btn-success float-end" type="submit" style="margin-right: -6px;">+</button>
                </div>
                <div class="card-body" style="font-size: 14px;padding: 0px;"><div>{{ search_results | safe}}</div></div>
            </div>
        </form>
    </div>
    <footer class="text-center bg-dark" style="height: 38.5px;">
        <div class="container text-white py-4 py-lg-5" style="margin-right: 0px;margin-left: 0px;">
            <p></p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/read_catalog_settings.js"></script>
</body>

</html>