<table border="1" class="dataframe">
   \n  
   <thead>
      \n    
      <tr style="text-align: right;">
         \n      
         <th>Name</th>
         \n      
         <th>Description</th>
         \n      
         <th>Version</th>
         \n      
         <th>Deprecated</th>
         \n      
         <th>Official Repo</th>
         \n      
         <th>Verified Publisher</th>
         \n    
      </tr>
      \n  
   </thead>
   \n  
   <tbody>
      \n    
      <tr>
         \n      
         <td>elasticsearch</td>
         \n      
         <td>Official Elastic helm chart for Elasticsearch</td>
         \n      
         <td>7.17.3</td>
         \n      
         <td>False</td>
         \n      
         <td>True</td>
         \n      
         <td>True</td>
         \n    
      </tr>
      \n    
      <tr>
         \n      
         <td>eck-elasticsearch</td>
         \n      
         <td>A Helm chart to deploy Elasticsearch managed by the ECK Operator.</td>
         \n      
         <td>0.1.0</td>
         \n      
         <td>False</td>
         \n      
         <td>True</td>
         \n      
         <td>True</td>
         \n    
      </tr>
      \n    
      <tr>
         \n      
         <td>prometheus-elasticsearch-exporter</td>
         \n      
         <td>Elasticsearch stats exporter for Prometheus</td>
         \n      
         <td>4.15.0</td>
         \n      
         <td>False</td>
         \n      
         <td>True</td>
         \n      
         <td>True</td>
         \n    
      </tr>
      \n    
      <tr>
         \n      
         <td>eck-operator</td>
         \n      
         <td>A Helm chart for deploying the Elastic Cloud on Kubernetes (ECK) operator: the official Kubernetes operator for orchestrating Elasticsearch, Kibana, APM Server, Enterprise Search, and Beats.</td>
         \n      
         <td>2.4.0</td>
         \n      
         <td>False</td>
         \n      
         <td>True</td>
         \n      
         <td>True</td>
         \n    
      </tr>
      \n    
      <tr>
         \n      
         <td>policy-reporter</td>
         \n      
         <td>Policy Reporter watches for PolicyReport Resources. It creates Prometheus Metrics and can send rule validation events to different targets like Loki, Elasticsearch, Slack or Discord</td>
         \n      
         <td>2.13.1</td>
         \n      
         <td>False</td>
         \n      
         <td>False</td>
         \n      
         <td>True</td>
         \n    
      </tr>
      \n    
      <tr>
         \n      
         <td>eck-operator-crds</td>
         \n      
         <td>A Helm chart for installing the ECK operator Custom Resource Definitions (CRD).</td>
         \n      
         <td>2.4.0</td>
         \n      
         <td>False</td>
         \n      
         <td>True</td>
         \n      
         <td>True</td>
         \n    
      </tr>
      \n    
      <tr>
         \n      
         <td>eck-stack</td>
         \n      
         <td>A Parent Helm chart for all Elastic stack resources managed by the ECK Operator. Currently supported: * Elasticsearch * Kibana</td>
         \n      
         <td>0.1.0</td>
         \n      
         <td>False</td>
         \n      
         <td>True</td>
         \n      
         <td>True</td>
         \n    
      </tr>
      \n  
   </tbody>
   \n
</table>